version: 2
updates:
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: daily
      # Block all automatic updates from the daily job
      ignore:
          - dependency-name: "*"
            update-types:
                - version-update:semver-major
                - version-update:semver-minor
                - version-update:semver-patch
