# .github/dependabot.yml
version: 2
updates:
    # Major + Minor updates combined
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: monthly # closest GitHub supports for bi-monthly & half-year
      allow:
          - update-type: version-update:semver-major
          - update-type: version-update:semver-minor

    # Security updates
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: daily
      security-updates-only: true
