version: 2
updates:
    # Minor updates → branch main-minor
    - package-ecosystem: npm
      directory: "/"
      target-branch: main-minor
      schedule:
          interval: monthly
      allow:
          - update-type: version-update:semver-minor

    # Major updates → branch main-major
    - package-ecosystem: npm
      directory: "/"
      target-branch: main-major
      schedule:
          interval: monthly
      allow:
          - update-type: version-update:semver-major

    # Security updates → branch main
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: daily
      security-updates-only: true
