version: 2
updates:
    # Minor updates every 2 months
    - package-ecosystem: npm
      directory: "/"
      target-branch: develop
      schedule:
          interval: "monthly" # closest to 2 months
      allow:
          - update-type: version-update:semver-minor

    # Major updates every 6 months
    - package-ecosystem: npm
      directory: "/"
      target-branch: develop
      schedule:
          interval: "monthly" # GitHub only supports monthly
      allow:
          - update-type: version-update:semver-major

    # Security updates always
    - package-ecosystem: npm
      directory: "/"
      target-branch: develop
      schedule:
          interval: "daily"
      security-updates-only: true
