version: 2
updates:
    # Minor updates → monthly, merge every 2 months manually
    - package-ecosystem: npm
      directory: "/"
      target-branch: main #main-minor
      schedule:
          interval: monthly
      open-pull-requests-limit: 5
      ignore:
          - dependency-name: "*"
            update-types:
                - version-update:semver-major
                - version-update:semver-patch

    # Major updates → monthly, merge every 6 months manually
    - package-ecosystem: npm
      directory: "/"
      target-branch: main #main-major
      schedule:
          interval: monthly
      open-pull-requests-limit: 5
      ignore:
          - dependency-name: "*"
            update-types:
                - version-update:semver-minor
                - version-update:semver-patch

    # Security updates → daily, handled automatically
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: daily
      open-pull-requests-limit: 5
