name: Trigger Dependabot Minor Updates

on:
    schedule:
        - cron: "*/2 * * * *"
    workflow_dispatch:

jobs:
    trigger-minor:
        runs-on: ubuntu-latest
        steps:
            - name: Trigger Dependabot Minor Update Job
              run: |
                  curl -X POST \
                  -H "Accept: application/vnd.github+json" \
                  -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                  https://api.github.com/repos/${{ github.repository }}/dependabot/updates \
                  -d '{
                    "package-ecosystem": "npm",
                    "directory": "/",
                    "target-branch": "main",
                    "allow": [{
                      "update-type": "version-update:semver-minor"
                    }]
                  }'
