version: 2
updates:
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: "cron"
          cron: "0 0 1 */6 *"
          timezone: "UTC"
      allow:
          - update-type: version-update:semver-major
