version: 2
updates:
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: monthly
      # Major updates only
      allow:
          - update-type: version-update:semver-major
