version: 2
updates:
    # Minor updates → branch main-minor
    - package-ecosystem: npm
      directory: "/"
      target-branch: main-minor
      schedule:
          interval: monthly
      allow:
       - dependency-name: "*"
        update-types:
        #   - "version-update:semver-patch"
          - "version-update:semver-minor"
      open-pull-requests-limit: 10

    # Major updates → branch main-major
    - package-ecosystem: npm
      directory: "/"
      target-branch: main-major
      schedule:
          interval: monthly
      open-pull-requests-limit: 10
      allow:
       - dependency-name: "*"
        update-types:
        #   - "version-update:semver-patch"
          - "version-update:semver-major"
          
    # Security updates → branch main (must be enabled in repo settings)
    - package-ecosystem: npm
      directory: "/"
      target-branch: main
      schedule:
          interval: daily
      open-pull-requests-limit: 10
      security-updates-only: true
