version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      target-branch: "main"
      schedule:
          interval: "daily"
      ignore:
          - dependency-name: "*"
            update-types:
                - "version-update:semver-major"
                - "version-update:semver-minor"
                - "version-update:semver-patch"
